<!DOCTYPE html>
<html>
    <head>
        <title>10 movie titles for you!</title>
        <link rel="stylesheet" href="/app1.css">
    </head>
    <body>
        <div id="background">
            <h1>No film like this</h1>
        </div>
    </body>
</html>