<!DOCTYPE html>
<html>
    <head>
        <title>10 movie titles for you!</title>
        <link rel="stylesheet" href="/app1.css">
        <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One|Roboto+Slab&display=swap" rel="stylesheet">
    </head>
    <body>
        <div id="back">
        <h1>Here's your 10 random movies.</h1> 
        <h1>WATCH SOMETHING!</h1>
            <ul>
                <% data["Search"].forEach(function(movie){%>
                    <div>    
                        <img id="img" src=<%= movie["Poster"] %>>
                        <p id="tit">
                            <%= movie["Title"]%>    
                        </p>
                        <p id="year">
                            <%=movie["Year"]%>
                        </p>
                        <p id="type">
                            <%=movie["Type"]%>
                        </p>
                    </div>
                <%});%>
            <a href="/">Search again!</a>
        </div>
    </body>
</html>