<!DOCTYPE html>
<html>
    <head>
        <title>10 movie titles for you!</title>
        <link rel="stylesheet" href="/app.css">
        <link href="https://fonts.googleapis.com/css?family=Hind+Madurai&display=swap" rel="stylesheet"> 
    </head>
    <body>
        <div id="back">
            <h1 class="title">RANDOM 10 MOVIES</h1>

            <form action="/results" method="GET">
            <div id="input">
                <input id="text" type="text" placeholder="Search The Movie" name="search">
                <input id="sub" type="submit">
            </div>
            </form>
        </div>
    </body>
</html>