<!DOCTYPE html>
<html>
    <head>
        <title>10 movie titles for you!</title>
        <link rel="stylesheet" href="/app.css">
    </head>
    <body>
        <div id="back">
            <h1>RANDOM 10 MOVIES</h1>

            <form action="/results" method="GET">
            <div id="input">
                <input id="text" type="text" placeholder="search term" name="search">
                <input id="sub" type="submit">
            </div>
            </form>
        </div>
    </body>
</html>