body{
    background-color:#939594;
    background: url("cinema.jpg");
    background-repeat: repeat-y;
    font-family: 'Hind Madurai', sans-serif;
}

#back{
    text-align: center;
}


#input{
    margin-top: 30vh;
}

#text{
    border: none;
    background-color:#323337;
    width: 42vw;
    margin-top: 2vh;
    font-size: 2vw;
    height: 10vh;
    border-radius: 3em;
    font-family: 'Hind Madurai', sans-serif;
}

#sub{
    border-radius: 3em;
    border: none;
    height: 8vh;
    width: 8vh;
    margin-right: 10em;
    background-color:#323337;
    font-family: 'Hind Madurai', sans-serif;    
}