body{
    background-color:#1C130A;
}

#back{
    text-align: center;
    background: url("cinema.jpg") no-repeat center center fixed;
    height: 99vh;
    background-size: cover;
}

#input{
    margin-top: 30vh;
}

#text{
    border: none;
    background-color:#1D120B;
    width: 42vw;
    margin-top: 2vh;
    font-size: 2vw;
    height: 10vh;
    border-radius: 3em;
}

#sub{
    border-radius: 3em;
    border: none;
    height: 8vh;
    width: 8vh;
    margin-right: 10em;
    background-color:#D91231;
}